<!DOCTYPE html>
<html lang="en">
<head th:replace="~{base :: head}"></head>
<body onload="onload()">
    <div th:replace="~{base :: logo}"></div>
    <div class="container" id="ofertas">
        <div th:replace="~{base :: titulo('Faça sua Oferta')}"></div>

        <div class="card mt-3" v-for="pedido in pedidos">
            <div class="card-header alert-dark">{{pedido.nomeProduto}}</div>

            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-sm-8 mb-3">
                        <div>Produto</div>
                        <div><a v-bind:href="pedido.urlProduto">{{pedido.nomeProduto}}</a></div>
                        <div>Descrição</div>
                        <div>
                            <textarea disabled class="form-control" name="" id="" cols="30" rows="10">{{pedido.descricao}}</textarea>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-5">
                                Valor:
                                <input
                                    v-bind:class="{'is-invalid': pedido.errors.valor !== ''}"
                                    v-model="pedido.valorNegociado" >
                                <div v-if="pedido.errors.valor" class="invalid-feedback">
                                    {{pedido.errors.valor}}
                                </div>
                            </div>
                            <div class="col-md-7">
                                Data da entrega:
                                <input
                                    v-bind:class="{'is-invalid': pedido.errors.dataDaEntrega !== ''}"
                                    v-model="pedido.dataDaEntrega">
                                <div v-if="pedido.errors.dataDaEntrega" class="invalid-feedback">
                                    {{pedido.errors.dataDaEntrega}}
                                </div>
                            </div>
                        </div>
                        <div class="mt-2">
                            <label for="comentario"></label>
                            <textarea name="comentario" v-model="pedido.comentario" class="form-control" cols="30" rows="10"></textarea>
                        </div>
                        <div>teste: {{pedido.ofertaEnviada}}</div>
                        <button v-if="pedido.ofertaEnviada" class="btn btn-success">Oferta enviada</button>
                        <button v-else v-on:click="enviarOferta(pedido)" class="btn btn-primary">Enviar Oferta</button>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div>
                            <img class="img-thumbnail" v-bind:src="pedido.urlImagem" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function onload() {
            var app = new Vue({
                el: "#ofertas",
                data: {
                    pedidos: []
                },
                mounted() {
                    axios
                        .get("http://localhost:8080/api/pedidos/aguardando")
                        .then(res => {
                            this.pedidos = res.data;
                            this.pedidos.forEach(p => {
                                p.ofertaEnviada = false;
                                p.errors = {
                                    valor: '',
                                    dataDaEntrega: ''
                                }
                            })
                        })
                },
                methods: {
                    enviarOferta: function (pedido) {
                        pedido.errors = {
                            valor: '',
                            dataDaEntrega: ''
                        }
                        axios
                            .post('http://localhost:8080/api/ofertas', {
                                pedidoId: pedido.id,
                                valor: pedido.valorNegociado,
                                dataDaEntrega: pedido.dataDaEntrega,
                                comentario: pedido.comentario
                            })
                            .then(() => pedido.ofertaEnviada = true)
                            .catch(error => {
                                error.response.data.errors.forEach(error => {
                                    pedido.errors[error.field] = error.defaultMessage;
                                })
                            });

                    }
                }
            });
        }

    </script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>
</html>